@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.nav-element {
  background-color: #1d1f1d;
  padding: 0.4rem .4rem;
  display: flex;
  justify-content:center;
  
}


/*                Buttons                 */

/*  Color */
.nav-button-0 {color: rgb(153, 142, 125); border: 1px solid rgb(153, 142, 125);}
.nav-button-1 {color: #b3b6b3; border: 1px solid #b3b6b3;}
.nav-button-2 {color: #92bfe7; border: 1px solid #92bfe7;}
.nav-button-3 {color: #6b99fd; border: 1px solid #6b99fd;}
.nav-button-4 {color: #43AA8B; border: 1px solid #43AA8B;}
.nav-button-5 {color: #90BE6D; border: 1px solid #90BE6D;}
.nav-button-6 {color: #62ce10;; border: 1px solid #62ce10;}
.nav-button-7 {color: #F9C74F; border: 1px solid #F9C74F;}
.nav-button-8 {color: #F8961E; border: 1px solid #F8961E;}
.nav-button-9 {color: #fa7a7a; border: 1px solid #fa7a7a;}
.nav-button-10 {color: #F94144; border: 1px solid #F94144;}
.nav-button-11 {color: #eb55de; border: 1px solid #eb55de;}
.nav-button-12 {color: #af0fb4; border: 1px solid #af0fb4;}
.nav-button-13 {color: #5618c9; border: 1px solid #5618c9;}



/* Shape & Size*/

.nav-button {
  line-height: 1rem;

  padding: .4rem .5rem;
  margin: .2rem .1rem;
  border-radius: .3rem;
  display: inline-block;
  font: 400 20px/1 "Poppins", "sans-serif";
}

.nav-button:hover, .nav-button:focus{
  transform:scale(1.05, 1.1);
  transition: 0.3s;
  color: rgb(153, 142, 125); border: 1px solid rgb(153, 142, 125);
}



/*                Logo                 */

.logo-button {
  color: rgb(153, 142, 125); border: 1px solid rgb(153, 142, 125);
  padding: .4rem .8rem;
  margin: 0.1rem 0rem;
  border-radius: .5rem;
}

.logo-element{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1d1f1d;
  font: 600 1.5rem/1 "Poppins", "sans-serif";
}

#nav-logo{
  display: none;
}
/*             Desktop, Tablet, and Mobile Header Logic             */

@media only screen and (max-width: 950px) {
  /* !!! 
  .navigation{
    display: none;
  }
  */
  .logo-button {
    border-radius: 0rem;
    border:none;

    padding: .1rem .3rem;
  }

  .logo-button:hover, .logo-button:focus{
    transform:none;
    border: none;
  }
  
}


.logo-element{
  display: none;
}
#nav-logo{
  display:inline-block;
  transform: none;
}


/*                Footer                 */

.footer-element{
  padding: 4px 0px;
  overflow:auto;
  bottom:0;
  right:0;
  left:0;
  background:#1d1f1d;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  font: 600 1.0rem/1.2 "Poppins", "sans-serif"; color: rgb(153, 142, 125);
}

.footer-button:hover, .footer-button:focus{
  transition: 0.3s;
  color: hsla(0,0%,27%,1);
}

.discord-logo:hover, .discord-logo:focus{
  transform:scale(1.45);
  transition: 0.3s;
}

/*                Development tools:                 */


.WIP {
  display: none;
}

